/** {*/
/*    border: 1px solid black;*/
/*}*/

body {
    background: linear-gradient(133deg,#1da03d,#50afe8,#f3234b,#ec4db1,#8ea08e);
    background-size: 300% 300%;
    animation: gradient-animation 30s ease infinite;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#title {
    text-align: center;
    padding: 16px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
    padding: 16px;
}

#plot-text {
    padding: 16px;
    background-color: grey;
    border-radius: 16px;
}

h1 {
    font-size: 2.4rem;
    color: white;
    margin: 0;
}

h2 {
    font-size: 1.6rem;
    color: white;
    margin: 0;
}

h3 {
    font-size: 1rem;
    color: white;
    margin: 0;
    padding: 5px;
}

.search-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Centers the wrapper horizontally */
}

#movie-search {
    width: 60%;
    font-size: 1.2rem;
    padding: 12px;      /* Adds breathing room for text */
    border: none;       /* Removes the default ugly border */
    border-radius: 24px; /* Rounded pill shape */
    box-shadow: 0 3px 8px rgba(0,0,0,0.2); /* Soft shadow */
    outline: none;      /* Removes the blue glow when clicking */
    box-sizing: border-box; /* Ensures padding doesn't widen the box */
}

#skip, #hint {
    font-size: 1.2rem;
    background-color: white;
    padding: 12px;      /* Adds breathing room for text */
    border: none;       /* Removes the default ugly border */
    border-radius: 24px; /* Rounded pill shape */
    box-shadow: 0 3px 8px rgba(0,0,0,0.2); /* Soft shadow */
    box-sizing: border-box; /* Ensures padding doesn't widen the box */
}

#search-results {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}
.result-item {
    padding: 10px 16px;
    border-bottom: 1px solid #eee;
    color: #333;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background 0.1s;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item:hover, #hint:hover, #skip:hover {
    background-color: #f0f0f0;
}